<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <!--
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    -->
    <title>Registration</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand" th:href="@{/}">Registration and Login Module</a>
            </div>
        </div>
    </nav>

    <br>
    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                
                <div th:if="${param.success}">
                    <div class="alert alert-info">
                        You're successfully registered to our app!
                    </div>
                </div>

                <h1>Registration</h1>

                <form th:action="@{/registration}" method="post" th:object="${user}">
                    <div class="form-group">
                        <label for="firstName" class="control-label">First Name</label>
                        <input id="firstName" class="form-control" th:field="*{firstName}" required autofocus="autofocus">
                    </div> 
                    <div class="form-group">
                        <label for="lastName" class="control-label">
                            Last Name                        </label>
                            <input id="lastName" class="form-control" th:field="*{lastName}" required autofocus="autofocus">
                    </div>
                    <div class="form-group">
                        <label for="email" class="control-label">
                            Email                        </label>
                            <input type="email" id="email" class="form-control" th:field="*{email}" required autofocus="autofocus">
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">
                            Password                        </label>
                            <input type="password" id="lastName" class="form-control" th:field="*{password}" required autofocus="autofocus">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Register</button>
                        <span>Already registered? <a href="/" th:href="@{/login}">Login</a></span>
                    </div>
                </form>

            </div>
        </div>
    </div>
</body>
</html>